#body1 {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#body2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(./gifs/up-ezgif.com-gif-maker.gif);
  background-size: 100%;
}
a {
  text-decoration: none;
  color: #e94d58;
}
#gif1 {
  height: 100%;
  width: 100%;
	cursor: zoom-in;
}
#gif1:active {
	transform: scale3d(1.2,1.2,1.2);
}
#gif2 {
  height: 100%;
  width: 100%;
}
#gif2:active {
	transform: scale3d(1.4,1.4,1.4);
}
h2 {
  text-align: center;
  font-size: 1.5em;
  color: #e94d58;
  margin: 15px 0;
}
h1 {
  text-align: center;
  font-size: 1.5em;
  color: #e94d58;
  margin: 15px 0;
}
#btn-group {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
button {
  position: absolute;
  width: 150px;
  height: inherit;
  color: white;
  font-size: 1.2em;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 4px gray;
  border: 2px solid #e94d58;
  font-size: 1.2em;
}
button:nth-child(1) {
  margin-left: -200px;
  background: #e94d58;
}
button:nth-child(2) {
  margin-right: -200px;
  background: white;
  color: #e94d58;
}
#no-btn {
  cursor: not-allowed;
}
pre {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  color: whitesmoke;
  background-color: #e94d58;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px #3c3c3c;
}
.re {
  text-align: center;
  font-size: 2.0em;
  background-color: #e94d58;
  color: whitesmoke;
  border-radius: 50px;
  width: 40%;
  margin: 10px auto 10px;
}
#body4 {
  background-image: url(./gifs/waterfall.gif);
  background-size: 100%;
}